*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-image{
    position: absolute;
    background: url("./img//fusion-medical-animation-npjP0dCtoxo-unsplash.jpg") center no-repeat;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    z-index: -1;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1{
    margin-top: 20px;
    color: #bec3d1;
    font-size: 42px;
}
.search-bar{
    margin-top: 20px;
    width: 50%;
    min-width: 320px;
    height: 60px;
    border: 10px solid #ccd2de;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: #fff;
}
.search-bar_icon{
    height: 30px;
    width: 30px;
}
.search-bar_input{
    height: 100%;
    border: none;
    padding:0 10px;
    display: flex;
    flex: 1;
}
input:focus{
    outline: none;
}

.search-bar_btn{
    background-color: #289d8f;
    color: #fff;
    height: 100%;
    padding: 0 15px;
    border-radius: 30px;
    border: none;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}


.card{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}
.close-btn{
    position: absolute;
    right: -8px;
    top: -8px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border-radius: 15px;
    border: none;
}
.close-btn img{
    height: 10px;
    width: 10px;
}

.card-header{
    width: 100%;
    height: 140px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.card-header img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.card-header p{
    position: absolute;
    z-index: 10;
    bottom: 0;
    background-color: #7e7c6c;
    width: 100%;
    text-align: center;
    padding: 5px;
    color: #fff;
}
ul{
    list-style: none;
}
ul li{
    background-color: #fdf0ed;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
ul li:first-child{
    background-color: #e76f51;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
}



